body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* width: 100%;
  height: 100%; */
  /* background-color: #000; */
}

#main {
  display: flex;
  overflow: hidden;
}

#left {
  height: 100vh;
  width: 75vw;
  background-color: aqua;
}

#right {
  height: 100vh;
  width: 25vw;
  background-color: orange;
}

#left-top {
  width: 100%;
  height: 70%;
  background-image: url(./accets/plant4.avif);
  background-position: center;
  position: relative;
}

#left-bottom-arrow {
  height: 60px;
  width: 60px;
  background-color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
}

#left-bottom-arrow i {
  font-size: 25px;
  /* transform: translate(-50%, -50%); */
}

#left-bottom {
  height: 30%;
  width: 100%;
  color: #fff;
  background-color: rgb(18, 18, 18);
  display: flex;
  justify-content: space-between;
}

#right-top {
  height: 70%;
  width: 100%;
  background-color: #fff;
}

#right-bottom {
  height: 30%;
  width: 100%;
  background-image: url(./accets/plant0.avif);
  background-size: cover;
  background-position: center;
  /* text-align: center; */
  position: relative;
}

#left-bottom-content {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  margin-top: 20px;
}

#left-content-left {
  height: 100%;
  width: 40%;
}

#left-content-right {
  height: 100%;
  width: 50%;
  /* position: relative; */
}

#left-content {
  display: flex;
  /* position: relative; */
  /* justify-content: space-between; */
}

#large-heading {
  font-size: 25px;
}

#small-heading {
  height: 100%;
  width: 20%;
  opacity: 0.6;
}

#description {
  height: 100%;
  width: 100%;
}

#details {
  font-size: 12px;
}

#basic-heading {
  position: relative;
  top: 0;
  height: 20%;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0xp;
  opacity: 0.6;
}

.menu-option {
  padding-right: 10px;
}

p {
  font-size: 8px;
  opacity: 0.5;
  font-weight: 100;
}

h5 {
  font-size: 10px;
  margin-bottom: 1px;
  opacity: 0.6;
  /* margin-top: 3px; */
}

.menu {
  display: flex;
  flex: 1;
  align-items: baseline;
  padding-right: 100px;
  justify-content: space-between;
}

.menu-option {
  display: flex;
  align-items: baseline;
  gap: 5px;
}

#right-top {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  padding: 70px;
  box-sizing: border-box;
  /* background-color: aqua; */
  position: relative;
}

#right-top a {
  text-decoration: none;
  letter-spacing: 2px;
  margin-bottom: 15px;
  color: #000;
  font-size: 13px;
  font-weight: 700;
}

#right-top #selected {
  position: relative;
  margin-left: 20px;
}

#right-top #selected::before {
  content: "";
  width: 10px;
  height: 2px;
  background-color: #000;
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translate(0, -50%);
}

#icons {
  position: absolute;
  top: 5px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#icons i {
  font-size: 16px;
  font-weight: 600;
}

#bottom-flower {
  width: 90px;
  height: 90px;
  background-image: url(./accets/flower1.avif);
  background-size: cover;
  background-position: bottom;
  position: absolute;
  left: 0;
  bottom: 0;
}

#flower-icon {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 30px;
  width: 30px;
  background-color: #00000049;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  border-radius: 50%;
}

#right-bottom #label {
  background-color: white;
  /* height: 50px; */
  width: 90%;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 10px;
  padding: 0 10px;
}

h2 {
  font-size: 10px;
}

h5 {
  opacity: 1;
}
